.app {
	font-size: 50px;
}

button {
	font-family: monospace;
	padding: 2px 16px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #e9e9ed;
	color: #000000;
	box-shadow: 0px 5px 0px #9d9da0;
	user-select: none;
	touch-action: manipulation;
}

button:hover {
	background-color: #d7d7da;
}

button:active {
	box-shadow: none;
	transform: translateY(5px);
}

/*
#plus-button:active, #minus-button:active {
	box-shadow: none;
	transform: translateY(5px);
}
*/

#score-out {
	text-align: center;
	margin: 0% auto;
	width: 500px;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox */
#button-container {
	max-width: 500px;
	display: flex;
	justify-content: space-between;
}

/* https://css-tricks.com/html5-progress-element */
#gb-bar {
	max-width: 500px;
	border-radius: 4px;
}

#gb-bar > span {
	background-color: #7feb7f;
	display: block;
	text-indent: -9999px;
	border-radius: 4px;
}
